.animation-box, .animation-box2{
    display: flex;
    justify-content: center;
    background-color: #111;
    position: relative;
}
.box1::before, .box2::before, .box3::before, .box4::before, 
.box5::before, .box6::before, .box7::before, .box8::before, 
.box9::before, .box10::before{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    margin: 20px;
    animation: ani 1s ease-in-out infinite;
}
.box1::after, .box2::after, .box3::after, .box4::after, 
.box5::after, .box6::after, .box7::after, .box8::after, 
.box9::after, .box10::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: green;
    margin: 20px;
    animation: ani 1s ease-in-out infinite;
}
@keyframes ani{
    0%, 25% {
        transform: rotate(45deg) translate(10px, 10px) scale(1);
    }
    30%, 70% {
        transform: rotate(45deg) translate(10px, 10px) scale(2.0);
    }
    50% {
        transform: rotate(45deg) translate(10px, 10px) scale(1.2);
    }
    90%, 100% {
        transform: rotate(45deg) translate(10px, 10px) scale(1);
    }
}
