table {
    border: 4px solid red;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    color: white;
    font-size: 18px;
}
th, td {
    padding: 8px 8px;
}
th {
    color: red;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid red;
}
td {
    text-align: center;
}
tbody tr:hover {
    background-color: #1a1a1a;
    transition: 0.15s;
}
h1 {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}